@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@649;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;649;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

.sidenav {
    height: 100%; /* to occupy whole column */
    width: 200px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #2A3842;
    overflow-x: hidden; /* disables horizontal scrolling */
    padding: 50px 0px;   
}

.sidenav > a, .sidenav > h3{
    padding: 20px 8px 20px 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-weight: 650;
}

.sidenav > a:hover {
    opacity: 50%;
}

.sidenav > img {
    width: 50%;
    padding: 90px 8px 20px 30px;
}

.main {
    margin-left: 220px;
    padding: 0px 10px;
}

.main > h1 {
    margin-top: 60px;
    margin-left: 35px;
}

.main > p {
    margin-top: 10px;
    margin-left: 30px;
}

.search {
    width: 90%;
    padding: 13px 0px;
    margin: 0px 0px 10px 35px;
    border: solid 1px;
    border-color: #555555;
    border-radius: 3px;
}

.cbutton1 {
    margin: 30px 16px 30px 35px;
    background-color: #0088F8;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    height: 45px;
    width: 185px;
    font-size: 16px;
    border: none;
    color: #FFFFFF;
}

.name__list {
    display: grid;
    margin: 20px 0px 100px 35px;
    grid-template-columns: 20% 20% 20% 12% 12% 12%;
}

.cname {
    font-style: normal;
    font-size: 18px;
    margin: 15px 0px 15px 0px;
    color: #1D1B18;
}

.cviewcust {
    height: 30px;
    width: 80px;
    margin: 10px;
    background-color: #2A3842;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    font-weight: 600px;
    font-size: 10px;
    cursor: pointer;
}
.cedit {
    height: 30px;
    width: 80px;
    margin: 10px;
    background-color: #FFFFFF;
    color: #2A3842;
    border-radius: 3px;
    border: solid 2px;
    border-color:#2A3842;
    font-weight: 600px;
    font-size: 10px;
    cursor: pointer;
}

.cdelete {
    height: 30px;
    width: 80px;
    margin: 10px;
    background-color: #E94926;
    color: #FFFFFF;
    border-radius: 3px;
    font-weight: 600px;
    font-size: 10px;
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 768px) {
    /* navbar responsiveness */
    .sidenav {
        display: flex;
        height: 3px; /* to occupy whole column */
        width: 100%;
        position: fixed;
        z-index: 1; 
        top: 0;
        background-color: #2A3842;
        overflow-x:visible; /* disables horizontal scrolling */
        padding: 30px 0px; 
        align-items: center;
    }

    .sidenav > h3 {
        margin: 0px 1rem;
    }
    .sidenav > a, .sidenav > h3{
        padding: 5px 8px;
        font-size: 15px;    
    }

    .sidenav > a {
        margin: 0px 10px;
    }

    .sidenav > img {
        display: none;
    }


    .main {
        margin: 120px 25px 0px 25px;
    }

    .main > h1 {
        margin-left: 0px;
    }

    .main > p {
        margin-top: 10px;
        margin-left: 30px;
    }
    
    .search {
        width: 96%;
        margin: 0px 0px 10px 0px;
    }
    
    .cbutton1 {
        margin: 30px 16px 30px 0px;
        height: 39px;
        width: 30%;
        font-size: 14px;
    }
    
    .name__list {
        display: grid;
        margin: 20px 0px 100px 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .cname {
        font-style: normal;
        font-size: 14px;
        margin: 15px 0px 15px 0px;
        color: #1D1B18;
    }
}


main {
    animation: transitionIn 1.5s
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(0deg)
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}